{% extends 'rango/base.html' %}

{% block content %}
<div class="hero-unit">
    <h1>Ready to Rango</h1>
    <p>Find, Add, Share and Rango useful links and resources.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top Five Categories</h2>
        <div id="cats">
            {% if categories %}
                {% include "rango/category_list.html" with categories=categories %}
            {% else %}
                <strong>No categories at present.</strong>
            {% endif %}
        </div>

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top Five Pages</h2>
        <div id="pages">
            {% if pages %}
                {% include "rango/page_list.html" with pages=pages ex_descr=1 %}
            {% else %}
                <strong>No pages at present.</strong>
            {% endif %}
        </div>

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock%}
